NUXT_DATABASE_URL=
NUXT_DISCORD_WEBHOOK_URL=
NUXT_DISCORD_CS2_SERVER_OPERATOR_ROLE_ID=
NUXT_DISCORD_CSGO_SERVER_OPERATOR_ROLE_ID=
NUXT_SESSION_SECRET=
NUXT_STEAM_REALM=http://localhost:11451/
NUXT_STEAM_RETURN_URL=http://localhost:11451/api/auth/callback
NUXT_STEAM_API_KEY=
NUXT_PUBLIC_SITE_URL=http://localhost:11451
NUXT_SUPABASE_URL=
NUXT_SUPABASE_SERVICE_ROLE_KEY=
NUXT_SUPABASE_STORAGE_BUCKET=course-images
